<section class="block container">
    <hedder class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, neque deserunt! Aut adipisci omnis quas distinctio perferendis sed esse quaerat!</p>
    </hedder>

  </section>
  
  <section class="block block--dark block--skewed-right">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, neque deserunt! Aut adipisci omnis quas distinctio perferendis sed esse quaerat!</p>

  </section>