<div class="collapsible collapsible--expanded">
    <header class="collapsible__header"> 
      <h2 class="collapsible__heading">Item1</h2>
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron" ></use>
      </svg> 
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ratione nostrum provident maxime recusandae dolor nihil, asperiores accusamus tempore perferendis quaerat, nobis quod.   
    </div>
  </div>