<section class="block container block-domain">
    <header class="block__header">
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
        inventore corrupti, itaque quas delectus nesciunt vitae facere quis
        aspernatur quasi praesentium ab ea id sed deleniti ducimus dolor
        asperiores ipsam error recusandae officia commodi? Nostrum nisi magnam
        accusamus aliquid ad.
      </p>
    </header>
    <div class="input-group">
      <input type="text" class="input" placeholder="Enter text here.." />
      <button class="btn btn--primary">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Buy now
      </button>
    </div>
    <ul class="list block-domain__prices">
      <li>
        <span class="badge badge--secondary">.com</span>
      </li>
      <li>.in</li>
      <li>.io</li>
      <li>.us</li>
      <li>.uk</li>
      <li>.tn</li>
    </ul>
  </section>