<section class="block block--dark block--skewed-left">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading hero__heading">Lorem ipsum dolor sit.</h1>
        <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe natus totam culpa velit enim earum, aut suscipit dolorum vel!</p>
        <a href="" class="btn btn--accent btn--strerched">Get started</a>
      </header>
      <img class="hero__image" src=" " alt="">
    </div>
  </section>
 