<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2 class="block__heading">this is it </h2>
    </header>
    <div class="container grid grid--1x2">
      <img class= "block-showcase__image" src="./images/easy@2x.webp" alt="">
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image"></div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum dolor sit amet.</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eos iusto iste reprehenderit! Modi, omnis quaerat maiores dolorum aut neque, illo sit dolore eius labore commodi ratione, unde dolorem officia dolor! Consequuntur, facere a.
            </p>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>