
      <div class="grid grid--1x2">
        <div class="testmonial__image">
          <img src="./images/testimonial.jpg" alt="A happy customer" />
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi autem commodi excepturi reprehenderit reiciendis doloremque aliquam, vel, ratione, quaerat earum! Harum ut alias molestias magni similique placeat excepturi eius, recusandae explicabo!
          </p>
          <footer>
           <div class="media">
             <div class="media__image"></div>
             <div class="media__body">
               <h3 class="media__title quote__author">name</h3>
               <p> ABC company</p>
             </div>
           </div> 
          </footer>
        </blockquote> 
        
      </div>
    </div>